#calendar {
    flex-grow: 1; /* Make the calendar take up the remaining space */
}

.form-container {
    margin-bottom: 20px; /* Add margin between form and calendar */
}


.submit-align-right {
     text-align: right;
}

.calendar-controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}




@media (max-width: 768px) {
    .submit-align-right {
        text-align: center;
    }

    .form-container form {
        justify-content: center;
    }

    .calendar-controls {
        flex-direction: column;
        align-items: center;
    }
}